[Desktop Entry]
Name=MX Tools
Name[am]=MX መሳሪያ
Name[ar]=MX Tools
Name[bg]=MX Tools
Name[ca]=MX Tools
Name[cs]=MX Tools
Name[da]=MX Værktøjer
Name[de]=MX-Werkzeuge
Name[el]=MX Tools
Name[es]=MX Herramientas
Name[et]=MX Tools
Name[eu]=MX Tools
Name[fa]=MX Tools
Name[fi]=MX Työkalut
Name[fr]=MX Outils
Name[he_IL]=MX Tools
Name[hi]=MX Tools
Name[hr]=MX Tools
Name[hu]=MX eszközök
Name[id]=MX Tools
Name[is]=MX Tools
Name[it]=MX Tools
Name[ja_JP]=MX Tools
Name[ja]=MX ツール
Name[kk]=MX Tools
Name[ko]=MX Tools
Name[lt]=MX įrankiai
Name[mk]=MX Tools
Name[nb]=MX Tools
Name[nl]=MX Tools
Name[pl]=MX Narzędzia
Name[pt_BR]=MX Ferramentas
Name[pt]=Ferramentas do MX
Name[ro]=MX Tools
Name[ru]=MX Инструменты
Name[sk]=MX Tools
Name[sl]=MX Orodja
Name[sq]=MX Tools
Name[sr]=MX Tools
Name[sv]=MX Tools
Name[tr]=MX Tools
Name[uk]=MX Tools
Name[zh_CN]=MX Tools
Name[zh_TW]=MX 工具組
Comment=Configuration tools for MX Linux
Comment[am]=የ MX ሊነክስ ማሰናጃ መሳሪያ
Comment[ar]=Configuration tools for MX Linux
Comment[bg]=Configuration tools for MX Linux
Comment[ca]=Eines de configuració per a MX Linux
Comment[cs]=Konfigurační nástroje MX Linux
Comment[da]=Konfigurationsværktøjer til MX Linux
Comment[de]=Konfigurationswerkzeuge für MX Linux
Comment[el]=Εργαλεία διαμόρφωσης για MX Linux
Comment[es]=Herramientas de configuración para MX Linux
Comment[et]=Configuration tools for MX Linux
Comment[eu]=Configuration tools for MX Linux
Comment[fa]=Configuration tools for MX Linux
Comment[fi]=Configuration tools for MX Linux
Comment[fr]=Des outils de configuration pour MX Linux
Comment[he_IL]=Configuration tools for MX Linux
Comment[hi]=Configuration tools for MX Linux
Comment[hr]=Configuration tools for MX Linux
Comment[hu]=Konfigurációs eszközök az MX Linuxhoz
Comment[id]=Configuration tools for MX Linux
Comment[is]=Configuration tools for MX Linux
Comment[it]=Strumenti di configurazione per MX Linux
Comment[ja_JP]=Configuration tools for MX Linux
Comment[ja]=MX Linux 設定ツール
Comment[kk]=Configuration tools for MX Linux
Comment[ko]=Configuration tools for MX Linux
Comment[lt]=Konfigūravimo įrankiai, skirti MX Linux
Comment[mk]=Configuration tools for MX Linux
Comment[nb]=Configuration tools for MX Linux
Comment[nl]=Configuratiegereedschappen voor MX Linux
Comment[pl]=Narzędzia konfiguracyjne dla MX Linux
Comment[pt_BR]=Ferramentas de configuração do MX [mx-tools]
Comment[pt]=Ferramentas de configuração do MX [mx-tools]
Comment[ro]=Programe utilitare pentru MX Linux
Comment[ru]=Средства настройки для MX Linux
Comment[sk]=Konfiguračné nástroje MX Linuxu
Comment[sl]=Orodja za konfiguriranje MX Linuxa
Comment[sq]=Configuration tools for MX Linux
Comment[sr]=Configuration tools for MX Linux
Comment[sv]=Konfigurationsverktyg för MX Linux
Comment[tr]=Configuration tools for MX Linux
Comment[uk]=Configuration tools for MX Linux
Comment[zh_CN]=Configuration tools for MX Linux
Comment[zh_TW]=MX Linux 的設定工具
Exec=mx-tools
Icon=mx-tools
NoDisplay=false
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Type=Application

