[Desktop Entry]
Name=MX Tools
Name[de]=MX Tools
Name[es]=MX Tools
Name[fr]=MX Tools
Name[it]=MX Tools
Name[nl]=MX Tools
Name[sv]=MX Tools
Name[el]=MX Tools
Name[ro]=MX Tools
Name[ru]=MX Tools
Name[jp]=MX Tools
Comment=Configuration tools for MX Linux
Comment[de]=Konfigurationstools für MX Linux
Comment[es]=
Comment[fr]=Des outils de configuration pour MX Linux
Comment[it]=
Comment[nl]=
Comment[sv]=
Comment[el]=
Comment[es]=Herramientas de configuración para MX Linux
Comment[ro]=Programe utilitare pentru MX Linux
Comment[ru]=
Comment[jp]=
Exec=mx-tools
Icon=/usr/share/pixmaps/mx/mx-tools.png
NoDisplay=false
Categories=System;
Type=Application
